/* @media (max-width: 1200px)
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #e44d3a;
    padding: 25px 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
} */
/* @media (max-width: 1200px)
header nav ul li {
    float: left;
    width: 100%;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
} */
/* @media (max-width: 1200px)
.menu-btn {
    display: block;
} */