.bg-light {
    background-color: white !important;
}
.navbar-light .navbar-brand {
    color: #ffd8d8;
}
.navbar-brand {
    border: none;
    background-color: #f0f8ff00;
}
.navbar-light .navbar-toggler {
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.btn-secondary {
    color: #fff;
    background-color: #fee0e0;
    border-color: #fee0e0;
}
.dropdown-menu {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.dropdown-item {
    display: flex;
    cursor: pointer;
}
hr {
    margin: 0;
}
.card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
    width: 70%;
    border-radius: 2%;
}
.row {
    margin-left: 0;
    margin-top: 1%;
}

.col-9 {
    padding-left: 0px;
}
.justify-content-evenly {
    padding: 1%;
}

.card-img {
    width: 100% !important;
    height: auto;
}
.card-img-circle {
    border-radius: 48%;
}
.rounded-image {
    border-radius: 48%;
}
.status small {
    margin-right: 10px;
}
.comments {
    margin-top: 1%;
}
.comment-text {
    border: 1px solid #c0c0c029;
    border-radius: 10px;
    background-color: #c0c0c029 !important;
    padding: 4px;
}
body {
    background-color: #c6c4c426;
}
.d-md-flex {
    align-items: center !important;
}
.d-flex {
    margin-left: 6px;
}
a {
    text-decoration: none;
    color: black;
}
.justify-content-end {
    padding-top: 1%;
}
.list-group-horizontal {
    background-color: #c6c4c400 !important;
}
.list-group-item {
    background-color: #c6c4c400 !important;
    border: none;
    padding-right: 1px;
    padding-left: 1px;
    font-size: 12px;
}
.list-group {
    justify-content: space-evenly !important;
}
i {
    padding-left: 0.5px;
}
@media (max-width: 699px) {
    .d-flex {
        display: flex !important;
        flex-direction: column;
    }
    .card {
        width: 100% !important;
        margin-right: 0;
        margin-left: 0;
    }
}
